Flask==2.0.1
Flask-Cors==3.0.10
pymssql==2.2.2
PyMySQL==1.0.2
Werkzeug==2.0.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
glob2==0.7
gunicorn==20.1.0
numpy==1.19.5
opencv-python==4.4.0.46
matplotlib==3.3.3
Pillow==8.0.1


contours==0.0.2
cycler==0.10.0
decorator==4.4.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.39.0
gunicorn==20.1.0
h5py==3.1.0
idna==2.10
importlib-metadata==3.1.1
imutils==0.5.3
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
joblib==0.17.0
jupyter-client==6.1.7
jupyter-core==4.7.0
tensorflow==2.6.0
tensorflow-directml==1.15.3.dev200911
tensorflow-estimator==2.6.0
tensorflow-gpu==2.6.0
tensorflow-gpu-estimator==2.3.0